<a href="https://colab.research.google.com/github/AshwinPrksh00/Hamoye-Internship/blob/main/Hamoye_Stage_A_Quiz_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hamoye Stage A Quiz<br>

-Ashwin Prakash

In [88]:
import numpy as np
import pandas as pd

In [89]:
!wget https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv -O data.csv

--2022-01-24 16:39:42--  https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-repository-files.githubusercontent.com/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220124T163942Z&X-Amz-Expires=300&X-Amz-Signature=c3847cbea3e3c7d84f097d4925b7c2f48c95576b2e034e7ea7cf02c98b11d868&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel [following]
--2022-01-24 16:39:42--  https://github-repository-files.githubusercontent.com/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220124T163942Z&X-Amz-Expires=300&X-Amz-Signature=c3847cbea3e3c7d84f097d4925b7c2f48c95576b2e034e7ea7cf02c98b11d868&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel
Resolving github-repository-files.githubusercontent.com (github-repository-files.githubusercontent.com)... 185.199.108.154, 185.199.109.154, 185.199.110.154, ...
Connecting to github-repository-files.githubusercontent.com (github-repository-files.githubusercontent.com)|185.199.108.154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8603007 (8.2M) [application/vnd.ms-excel]
Saving to: ‘data.csv’

data.csv            100%[===================>]   8.20M  31.9MB/s    in 0.3s

2022-01-24 16:39:43 (31.9 MB/s) - ‘data.csv’ saved [8603007/8603007]

In [90]:
df = pd.read_csv("data.csv",encoding='latin-1')

In [91]:
df

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [96]:
#11
idx = df.groupby('Item').groups['Animal fats']
df.iloc[idx,:][['Y2014', 'Y2017']].sum()

Y2014    209460.54
Y2017    269617.53
dtype: float64

In [102]:
#12
print("%0.3f %0.3f"%(df['Y2015'].describe()["mean"], df['Y2015'].describe()["std"]))

135.236 1603.404

In [104]:
#13
print(df['Y2016'].isnull().sum(), "%0.2f"%(df['Y2016'].isnull().sum()/len(df['Y2016'])*100))

1535 2.52

In [120]:
#14
cm = df.corr()['Element Code']
M = max(cm.iloc[3:])
cm[cm == M].index[0]

'Y2014'

In [127]:
#15
idx = df.groupby('Element').groups['Import Quantity']
ser = df.iloc[idx,:].iloc[:,7:].sum()
val = max(ser)
ser[ser == val].index[0]

'Y2017'

In [128]:
#16
idx = df.groupby('Element').groups['Production']
df.iloc[idx,:]['Y2014'].sum()

1931287.75

In [177]:
#17
df1 = df[['Element', 'Y2018']]
feature = ['Domestic supply quantity','Food supply (kcal/capita/day)', 'Food supply quantity (kg/capita/yr)', 'Import Quantity']
ser = df1.iloc[idx_list,:].groupby('Element').sum()['Y2018'].loc[feature]
ser[ser == max(ser)].index[0]

'Domestic supply quantity'

In [176]:
#18
df1 = df[['Element', 'Y2018']]
ser = df1.groupby('Element').sum()['Y2018'].iloc[[2,5,6,12,14]].sort_values(ascending = False)
ser[ser == ser[-3]].index[0]

'Seed'

In [179]:
#19
df1 = df[df['Area'] == 'Algeria']
df1.groupby('Element').sum()['Y2018'].loc["Import Quantity"]

36238.29

In [87]:
#20
df['Area Code'].nunique()

49